*{
  margin: 0;
  padding:0;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 100%;
}
body{
  height: 100vh;
}

.container-list-phones{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.phone{
  &-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
  }
  &-title{
    font-size: 30px;
  }
  &-description{
    text-align: left;
    margin: 10px;
  }
  &-color{
    text-transform: capitalize;
    margin: 10px;
  }
  &-price{
    color: red;
    font-weight: 700;
  }
}
