* {
  margin: 0;
  padding: 0;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 100%; }

body {
  height: 100vh; }

.container-list-phones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.phone-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px; }

.phone-title {
  font-size: 30px; }

.phone-description {
  text-align: left;
  margin: 10px; }

.phone-color {
  text-transform: capitalize;
  margin: 10px; }

.phone-price {
  color: red;
  font-weight: 700; }
