*{
  margin: 0;
  padding:0;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  color: black;
}

body{
  height: 100vh;
}

//PhoneListContainer

.container-list-phones{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5%;
}

.phone{
  &-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
  }
  &-title{
    font-size: 30px;
  }
  &-description{
    text-align: left;
    margin: 10px;
  }
  &-color{
    text-transform: capitalize;
    margin: 10px;
  }
  &-price{
    color: red;
    font-weight: 700;
  }
}

//PhoneDetailComponent

.detail-data-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  @media all and (min-width: 768px){
    flex-direction: row;
    align-items: flex-start;
  }

  &-primary{
    display: flex;
    flex-direction: column;
    text-align: center;
    & .phone-title{
      font-size: 34px;
    }

    & .phone-description{
      margin: 5%;
    }
  } 
  &-secondary{
    padding: 10% 5%;
    & .list-detail{
      list-style: none;
      padding: 10px;
    }
    & .longline{
      word-break: break-all;
    }
  }
}

//PlaceholderComponent

.placeholder{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &-spinner{
    width: 100px;
    height: 100px;
    @media all and (min-width: 768px){
      width: 200px;
      height: 200px;
    }
  }
}
